.header.toggle {
    .header__lists{
        top: 50%;
        left: -100%;
        width: 50%;

    }
}

.header{
    position: relative;
    &__nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo{
        width: 300px;
        cursor: pointer;
        // img{
        //     width: 100%;
        // }
    }

    &__lists{
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;
        gap: 20px;
        background-color: #979797e7;
        left: 0;
        top: 100%;
        z-index: 1;  
        transition: 1.5s;
        border-top: 2px solid;
        border-bottom: 2px solid;
    }

    &__link{
        color: rgb(50, 82, 35);
        font-weight: 700;
        white-space: nowrap;

    }

    &__btn{
        display: none;
    }

    &__togl{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        font-size: 12px;
        border: none;
        padding: 5px;
        border-radius: 10px;
        background-color: #979797;
    }
    

}

@media(min-width:768px){

    .header{
        width: 100%;
        &__nav{
            width: 100%;
            display: flex;
            align-items: center;
        }

        &__togl{
            display: none;
        }
        

        &__lists{
            display: flex;
            align-items: flex-end;
            position: sticky;
            flex-direction: row;
            background-color: transparent;
            border-top: none;
            border-bottom: none;
        }
        &__link{
            font-size: 18px;
        }
        &__items{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .link2{
            display: none;
        }
    }
    
}